/* Box Model Hack */
* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: rgb(230, 230, 230);
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-family: 'Amiri';
}
main{
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 10% 1% 0 1%;
}


h1 {
  font-family: 'Patua One';
  font-size: 4.7rem;
  font-weight: 400;
}

p{
  font-size: 1.9rem;
}


h3{
  font-size: 2.5rem;
}

#finalNum{
  font-size: 3rem;
  font-family: 'Patua One';
}

input{
  margin: 3px 3px 3px 3px;
  border-radius: 3px; 
  width: 100%; 
} 

div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:0 0 3% 0;
  padding-bottom: 25px;
  border: 2px solid black;
  border-radius: 20px;
  flex-wrap: wrap;
}
.testSection{
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  font-size: 3.2rem;
  font-family: 'Fugaz One';
  background-color: red;
  color: white;
  border-radius: 10px;
  margin-bottom: 2.5%;
}

/****************************************** */
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.disclaimer{
  font-style: italic;
}
select{
  border-color: black;
}